# 의존성 및 빌드 결과물 (가장 중요!)
node_modules
.next
out
build
dist

# Git 관련
.git
.gitignore

# Docker 관련 (이미지 안에 중복 포함될 필요 없음)
Dockerfile
docker-compose.yml
.dockerignore

# 환경 변수 및 로그
.env
.env*.local
*.log
npm-debug.log*

# OS 관련 잡다한 파일
.DS_Store
Thumbs.db