spring:
  application:
    name: tripdeal

  datasource:
    url: jdbc:h2:mem:testdb
    driver-class-name: org.h2.Driver
    username: sa
    password:

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true

  h2:
    console:
      enabled: true
      path: /h2-console

  servlet:
     multipart:
      max-file-size: 10MB
      max-request-size: 10MB